[user]
	name  = Raj Kissu
	email = rajkissu@gmail.com
[color]
	status      = auto
	diff        = auto
	interactive = auto
	branch      = auto
	ui          = true
[alias]
    st = status
	co = checkout
    br = branch
